@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@solana/wallet-adapter-react-ui/styles.css";

body {
  background-color: #810047d4;
}

main {
  padding: 5%;
}

input:focus {
  outline: 3px solid #562b4f;
  background-color: black;
  color: white;
}

input {
  border-color: #810047d4;
  background-color: #562b4f;
}
